.new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 20px;
    
}

.list-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    gap: 10px;
    background-color: #FFF8EA;
}

.new-box {
    background-color: #F5D5AE;
    max-width: 30em;
    color: rgb(27, 26, 26);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    border: solid black;
    padding: 1em;
}

.news-painted {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.sent-btn {
    border-radius: 20px;
}