.new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 80vw;
    
}

.list-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}