
.App-header {
    background-color: #282c34;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        font-family: 'Bebas Neue', cursive;
}

.navigation-menu {
    background-color: rgb(34, 206, 206);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: bottom;
    gap: 45px;
    border: solid #31E1F7;
}

.create-nav {
    margin-left: 100px;
}